<br>

<div class = "row">
    <div class ="col">
        <div class="col-md">
            <div class="card text-center text-black mb-3" id="total-order">
                <div class="card-header">
                    <h4 class="card-title">Total Orders</h4>
                </div>
                <div class="card-body">
                    <h2 class="card-title">{{total_order}}</h5>
                </div> 
            </div>
        </div>
    </div>

    <div class ="col">
        <div class="col-md">
            <div class="card text-center text-black mb-3" id="order-delevered">
                <div class="card-header">
                    <h4 class="card-title">Orders Delivered</h4>
                </div>
                <div class="card-body">
                    <h2 class="card-title">{{deliver}}</h5>
                </div> 
            </div>
        </div>
    </div>

    <div class ="col">
        <div class="col-md">
            <div class="card text-center text-black mb-3" id="order-pending">
                <div class="card-header">
                    <h4 class="card-title">Orders Pending</h4>
                </div>
                <div class="card-body">
                    <h2 class="card-title">{{pending}}</h5>
                </div> 
            </div>
        </div>
    </div>
</div>
